SUPABASE_URL=https://gkwtbxjrybtzgyrtdsgr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdrd3RieGpyeWJ0emd5cnRkc2dyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxOTMwNDIsImV4cCI6MjA5MDc2OTA0Mn0.mYskK6H1UsgUzAJe12lRv-4VMM-OvcF861N9N6MnLKg
